.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-inner {
  display: flex;
  align-items: center;
  height: fit-content;
}

.about-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.block-text {
  display: flex;
  width: 80%;
  gap: 120px;
}

.width {
  width: 100%;
}

/*Адаптив*/

@media (max-width: 1000px) {
  .block-text {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .block-text {
    gap: 20px;
  }
}

@media (max-width: 480px) {
}
